<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.thatcsharpguy.watchduino" android:versionCode="1" android:versionName="0.1">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<permission android:protectionLevel="signature" android:name="com.thatcsharpguy.doorduino.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.thatcsharpguy.doorduino.permission.C2D_MESSAGE" />
	<application android:name="doorduino.droid.ParseApplication" android:label="Doorduino">
		<receiver android:name="parse.ParsePushBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.thatcsharpguy.doorduino" />
			</intent-filter>
		</receiver>
		<service android:name="parse.ParsePushService" />
	</application>
</manifest>